book-mule/src/main/resources/helloworld/application-context.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:activiti="http://www.mulesoft.org/schema/mule/activiti-embedded"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  				http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
		     	http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
         	http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
         	http://www.mulesoft.org/schema/mule/activiti-embedded http://www.mulesoft.org/schema/mule/activiti-embedded/3.2/mule-activiti-embedded.xsd">

	<spring:beans>
		<spring:import resource="activiti-application-context.xml" />
	</spring:beans>
	
	<activiti:connector name="actServer"
        repositoryService-ref="repositoryService"
        runtimeService-ref="runtimeService"
        taskService-ref="taskService"
        historyService-ref="historyService" />
	
	<flow name="MuleCreateProcess">
  	<vm:inbound-endpoint path="create" exchange-pattern="request-response" />
  	<activiti:create-process parametersExpression="#[header:INBOUND:createProcessParameters]" />
	</flow>
  
  <flow name="MuleHello">
		<vm:inbound-endpoint path="in" exchange-pattern="request-response" />
		<logger message="Received message #[payload]" level="INFO" />
		<script:transformer>
			<script:script engine="groovy">return 'world'</script:script>
		</script:transformer>
	</flow>

</mule>