book-mule/src/main/resources/intro/mule-context.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  				http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
		     	http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.1/mule-file.xsd
         	http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd">
         	
  <flow name="MuleIntro">
		<vm:inbound-endpoint path="in" exchange-pattern="one-way" />
		<logger message="Received message #[payload]" level="INFO" />
		<choice>
		  <when expression="/introduction/text()='Mule'" evaluator="xpath">
		    <file:outbound-endpoint path="introduction" outputPattern="mule-intro-#[function:datestamp:ddMMyyyy_HHmmss].txt" />
		  </when>
		  <otherwise>
		    <file:outbound-endpoint path="introduction" outputPattern="other-intro-#[function:datestamp:ddMMyyyy_HHmmss].txt" />
		  </otherwise>
		</choice>
	</flow>

</mule>